html {
width: 900px;
}
.greeting {
    border: 10px solid grey;
    width: 100%;
    text-align: center;
    margin-left: 16%;
}

.nameInput {
    margin-top: 4em;
    margin-left: 8em;
}
.radio {
    display: flex;
}
.radio .input {
    padding-left: 2em;
    margin-left: 20px;
    margin-top: 3em;
    padding-bottom: 2em;

}

.buttons button {
    margin-top: 10em;
    margin-left: -17em;
    margin-right: 18px;
}

.container {
    margin-left: 20em;
}

.greetings {
    font-size: 30px;
    text-align: center;
    margin-top: 3.5em;
    margin-right: 1.5em;
    
}

.greetCount{
    margin-left: 10em;
    font-size: 350%;
    font-weight: bolder;
    /* margin-top: -195px; */
    margin-top: -300px;
}



